<p>ayurveda works!</p>

<div>
  <div>DOSHAS</div>

  <div>Es sind 3 Prinzipien, die in der Lage sind, bestimmte Eigenschafen und Funktionen im Körper hervorzurufen.</div>

  <div>
    <div *ngFor="let dosha of doshas">
      <div>{{ dosha.title }}</div>
      <div>{{ dosha.elemente }}</div>
      <div>{{ dosha.prinzip }}</div>
    </div>
  </div>

  <div>
    Je nach Ausprägung der einzelnen Doshas wird die persönliche Konstitution mit den hervortretenden Eigenschafen auf vielseitige Weise geprägt
    Ayurveda betrachtet jeden Menschen als einzigartiges Individuum
    Mit dem Wissen unm die individuelle führt und Ayurveda zu einer tiefen Selbsterkänntnis und bewussten Lebensweise.
  </div>
  <div>?In jedem Menschen sind diese Prinzipen unterschiedlich ausgeprägt, deshalb ist jeder in seinem Verhalten, seiner Ernährung und seinem Lifestyle Individualität?</div>
  
  <div>Wie ist meine individuelle Konstitution?</div>
  <div>Konstitutionsbestimmung</div>
</div>

