/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
nav {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    .btn {
        font-weight: bold;
    }

    .nav-text {
        padding-top: 6px;
    }

    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}