<p>home works!</p>
  
<h3>
  «Gutes und schlechtes Leben, glückliches und unglückliches Leben, das, was dem Leben zu- bzw. abträglich ist, das Maß des Lebens und seiner Komponenten und das Leben selbst – wo all das erklärt wird, das nennt man Ayurveda.»
</h3>
<h5>- Caraka Samhita</h5>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4282.974630197131!2d8.30552314580663!3d47.04629419118696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffba43ff6ef31%3A0xd840055d734234e0!2sBleicherstrasse%2019%2C%206003%20Luzern%2C%20Schweiz!5e0!3m2!1sde!2sde!4v1706888417942!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
